@import "../node_modules/bootstrap/dist/css/bootstrap.css";
:host {
  --bs-primary-rgb: 36, 46, 61;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.card-body {
  padding-inline: 12px;
  padding-block: 4px;
}

.bg-primary {
  background: linear-gradient(
    90deg,
    rgba(95, 30, 190, 1) 10%,
    rgba(60, 145, 255, 1) 50%
  ) !important;
}
.custom-row > * {
  padding-inline: 4px !important;
}
.custom-row .card {
  border-radius: 2px;
}

.custom-row .col-6 .card:hover {
  background-color: #fff;
  outline: none;
  border: none;
  box-shadow: #ccc 1px 1px 10px, #ccc -1px -1px 10px;
  transform: scale(1.002);
}

.rotate {
  transform-origin: center;
  animation: spin 3s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .popover{
  background-color: #fff;
  outline: none;
  border: none;
  box-shadow: #ccc 1px 1px 10px, #ccc -1px -1px 10px;
  min-height: 4rem;
  min-width: 4rem;
  position: absolute;
} */

.flip {
  background-color: transparent;
  width: 300px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip:hover .flip-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.front {
  /* background-color: #bbb; */
  color: black;
}

/* Style the back side */
.back {
  /* background-color: dodgerblue; */
  color: white;
  transform: rotateY(180deg);
}

text {
  font-weight: bold;
  font-size: 0.8rem !important;
  font-family: sans-serif !important;
}

.tab {
  border: none;
background-color: #ccc;
  padding: 0.4rem 0.8rem;
  /* margin-inline: 2px; */
}
.active {
  border-bottom: solid 2px #888;
}
